[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
yfinance = "*"
pomegranate = "*"
pgmpy = "*"
jupyterlab = "*"
openpyxl = "*"
requests = "*"
bs4 = "*"
streamlit = "*"
pmdarima = "*"
prince = "*"
mca = "*"
scikit-fuzzy = "*"
pandas-datareader = "*"
numpy = "*"
graphviz = "*"
pydot = "*"
notebook = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.8"
