[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
yfinance = "*"
pomegranate = "*"
pgmpy = "*"
jupyterlab = "*"
openpyxl = "*"
requests = "*"
bs4 = "*"
streamlit = "*"
pygraphviz = "*"
numpy = "*"
html5lib = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
